/* Reset */

body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 1em;
    background-color: rgb(240, 238, 238);

    /* background-repeat: no-repeat;
    background-size: 500px; */

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    }
    

        .main-navegacion{
            position: relative;
            bottom: 0;
            width: 100vw;
            text-decoration: none;
            background-color: rgb(202, 198, 198);
            padding-top: 2px;
        }

        .contenedor-navbar-libro-1, .contenedor-navbar-libro-2{
            padding-top: 5px;
            border: 2px solid white;
            border-radius: 5px;
            box-shadow: 5px 0px 10px rgba(0, 0, 0, .6);
            margin: 1px;

            text-decoration: none;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            padding-right: 40px;
        }

        .contenedor-navbar-libro-2{
            display: none;
        }

        .contenedor-navbar-libro-1 h3{
            display: none;   
        }

        .footer-navegacion h3{
            color: #0f1f2f;
        }

        .footer-navegacion li{
            list-style: none;
        }

        .footer-navegacion  a{
            text-decoration: none;
            color: #000;
        }

        .footer-navegacion h5{
            text-align: center;
        }

        .footer-navegacion h5 span{
            display: none;
        }

        @media (min-width: 800px){
            .footer-navegacion h5 span{
                display: inline-flex;
            }

            .contenedor-navbar-libro-1{
                display: none;
            }

            .contenedor-navbar-libro-2{
                display: inline-flex;
            }

            .contenedor-navbar-libro-2{
                padding-top: 5px;
                border: 2px solid white;
                border-radius: 5px;
                box-shadow: 5px 0px 10px rgba(0, 0, 0, .6);
                margin: 1px;
    
                text-decoration: none;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                padding-right: 40px;
            }

            .contenedor-navbar-libro-2 h3{
                display: inline-flex;
                
                font-size: 1.3rem;
            }

            .contenedor-navbar-libro-2 h3 span{
                display: none;
            }
        }

        @media (min-width: 1024px){
            .contenedor-navbar-libro-2 h3 span{
                display: inline-flex;
            }
        }

    /* Esta es la parte donde hago el responsive de los libros top */

    .libro-top-1{
            display: flex;
            justify-content: center;
        }
        
        .libro-top-1 img{
            max-width: 60%;
            padding: 10px;
        }

        .reaccion-icon{
            display: flex;
            justify-content: center;
        }

        .estilos-titulos{
            padding-left: 10px;
        }

        .estilos-titulos-2{
            font-size: 2rem;
            text-align: center;
        }

        .estilos-titulos-s3{
            opacity: 50%;
            font-size: 1.2rem;
            font-weight: 600;
            color: rgba(0, 0, 0, .6);
        }

        .estilos-titulos-3{
            color: #e9183b;
        }

        .estilos-titulos-ed-3{
            color: rgb(0, 0, 0);
            font-weight: 400;
        }

        .fondo-color{
            background-color: rgb(240, 210, 76);
            font-size: .7rem;
            font-family: Geneva, Tahoma, sans-serif;
        }

     /* Aquí empieza el css de la sección de compras dentro de la página de los libros */

        .reseñas-libros-precios{
            background-color: rgb(224, 211, 202);

            border-radius: 10px;
            border: 2px solid rgb(180, 179, 179);

            max-width: 100%;

            margin: 5px 7px 8px 7px;
            padding: 7px 10px 10px 10px;

            text-align: center;
        }
        .reseñas-iconos{
            display: flex;
            flex-direction: row;

            justify-content: space-around;
        }

        .reseñas-libros-boton{
            max-height: auto;
            max-width: 100px;

            border-radius: 50px;
            border: 2px solid black;

            box-shadow: 5px 0px 10px rgba(0, 0, 0, .6);
        }
        
        .reseñas-libros-contenido{
            border-radius: 20px;
            border: 2px solid rgb(228, 92, 29);

            font-size: 1.3rem;

            padding: 7px 10px 10px 10px;
            margin: 5px 2px 8px 2px;

            background-color: rgb(255, 224, 209);

            height: 300px;
            max-width: 100%;
            overflow: auto;
        }

        .reseñas-libros article{
            margin: 7px;
            font-size: .8rem;
            font-weight: 400;
            text-align: justify;
        }

        .reseñas-libros article h2{
            color: rgb(192, 78, 25);
            font-weight: 800;
            padding-bottom: 10px;
        }

        .reseñas-libros article ul li{
            list-style: url(../imagenes/imagenes-iconos/libro-abierto-32px.png);
            margin-bottom: 5px;

        }

    /* Acá empiezan los cambios de estilo para el desarrollo Mobile First */

    @media (min-width:767px) and (max-width:1279px){

        .libro-top-1 img{
            max-width: 80%;
            padding: 10px;
        }

        .reaccion-icon{
            display: flex;
            justify-content:center;
            grid-template-rows: initial;
            grid-area: "reaccion-icon";
        }


        .estilos-titulos{
           display: flex;
           justify-content: center;
        }

        .reseñas-libros-precios{
            grid-area: "reseñas-libros-precios";
        }
    }

    /* ==== */
    /* Css del contenedor de bienvenida del index */
    /* ==== */

    .contenedor-bienvenida{
        background-image: url(../imagenes/gift-cards/banner-navidad-bienvenida.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 500px;
        width: 80%;
        margin-left: 10%;

        border-radius: 40px;
    }

    .contenedor-bienvenida h3{
        font-size: 2rem;
        color: blanchedalmond;
        text-align: center center;
        width: 70%;
        margin-left: 0;
        text-align-last: center;
        padding: 200px;
    }

/* Estos son los estilos de css destinados a cambiar el formato de los h1, h2, listas, div, ect. */

    /*Y también aca probe jugar un poco con los h1 usando transformaciones*/

    h1{
        font-family: 'Katibeh', cursive;
        color: rgb(31, 160, 121);
        font-size: 3rem;

        animation-duration: 3s;
        animation-name: titulo;
        animation-iteration-count: infinite;
    }

    /*==================*/
    /*==================*/

h2{
    font-family: 'Katibeh', cursive;
    font-size: 2rem;
}

/*=================================*/
/*=================================*/
/*Esto es para la parte de ul-ol-li*/
/*=================================*/
/*=================================*/

.letra-grande{
    font-size: 3 rem;
}

/*==============*/

div ul li{
    display: inline-block;
    text-align: left;
    margin-left: 0;
    padding-right: 100px;
}

#tituloSecundario {
    color: rgb(21, 114, 114);
}



.links {
    text-decoration: none;
}

/*=======================*/
/*Acá practiqué lo de las transformaciones para los links de navegación*/
/*======================*/

    .el-desubicado{
        border: solid 2px rgb(178, 214, 214);
    
        transition: all 2.5s ease-in-out;
    }

    .el-desubicado:hover{
        background-color: rgb(157, 157, 158);
    
        transition: 0.5s;
    }

    .links-primary{
        color: rgb(9, 12, 17);
        font-weight: 900;
        text-align: right;

        background-color:rgb(72, 139, 170);
        border: solid 2px rgb(178, 214, 214);
    
        transition: all 2.5s ease-in-out;
    }

    .links-primary:hover{
        background-color: rgb(199, 231, 210);
    
        transition: 0.5s;
    }

/* Estos son los estilos de css para el link que se supone tiene la propiedad sticky*/

.el-desubicado{
    text-align: right;
    font-weight: 900;
    text-decoration: none;
    text-decoration: underline none;
    color: black;
    position: sticky;
    top: 0;
}







    /* ==== */
    /* Css del banner de "ahora 12" */
    /* ==== */

    .contenedor-formas-pago{
        background-image: url(../imagenes/gift-cards/banner-formas-pago.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 600px;
        width: 100%;

        border-radius: 40px;
    }

    .contenedor-formas-pago h3{
        padding: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
        color: blanchedalmond;
    }
    .contenedor-formas-pago h3 a{
        text-decoration: none;
        color:rgb(172, 127, 14);
        width: 60%;
    }

    /* Banner del black friday */

    /* .container-banner{
        margin-top:  15px;
        margin-bottom: 10px;
        max-height: 100%;
        background-color: rgb(179, 176, 176);
    }
    .container-banner-hijo {
        min-height: 100%;
        min-width: 100%;
        
        background-image: url(../imagenes/imagenes-banner/black-friday-banner.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        border:solid rgb(98, 94, 94);
    }  */

    /* Resposive de Container-banner */

     /* @media (min-width:425px) and (max-width:720px){
        .container-banner{
            min-height: 250px;
            background-color: rgb(179, 176, 176);
        }

        .container-banner-hijo {
            min-height: 250px;
            min-width: 100%;
                
            background-image: url(../imagenes/imagenes-banner/black-friday-banner.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media (max-width:425px){
        .container-banner{
            min-height: 150px;
            background-color: rgb(179, 176, 176);
        }

        .container-banner-hijo {
            min-height: 150px;
            min-width: 100%;
            
            background-image: url(../imagenes/imagenes-banner/black-friday-banner.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    } */

 

    